* {
    font-family: monospace;
}

p {
    margin: 0 0;
}

table {
    width: 100%;
}

tr, td {
    text-align: center;
    /* width: 100%; */
}
.tr-header {
    font-weight: bold;
}

tr:nth-child(2n) {
    background: lightcyan;
}

.spa {
    display: inline-flex;
    align-items: center;
}